<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guest Book</title>

        <!-- Stylesheet -->
        <link rel="stylesheet" href="styles/styles.css">
        <!-- Favicon -->
         <link rel="icon" type="image/png" href="imgs/contact_img.png">
    </head>
    <body>
        <h1>Contact Form</h1>

        <form action="/submit" method="post">
            <div id="section1">
                <label>
                First Name:
                    <input type="text" name="fname">
                </label>
                <label>
                    Last Name:
                    <input type="text" name="lname">
                </label>
                <label>
                    Job Title:
                    <input type="text" name="jtitle">
                </label>
            </div>

            <div id="section2">
                <label>
                    Company:
                    <input type="text" name="company">
                </label>
                <label>
                    LinkedIn URL:
                    <input type="text" name="url">
                </label>
                <label>
                    Email Address:
                    <input type="text" name="email">
                </label>
            </div>

            <div id="section3">
                <label>
                    How did we meet?
                    <select name="meeting">
                        <option>Please select</option>
                        <option>Meetup</option>
                        <option>Job Fair</option>
                        <option>Collegue</option>
                        <option>Friend</option>
                        <option>Other</option>
                    
                    </select>
                </label>
                <label>
                    Other (Please Specify):
                    <input type="text" name="other" id="other">
                </label>   
            </div> 

            <div id="section4">
                <label>
                    Message:
                    <input type="text" name="message" id="message">
                </label>
            </div>
            <input type="checkbox" name="mailing-list" id="checklist">Please add me to your mailing mailing-list
            <div id="section5">
                <label id="radio">
                    Choose an email format:    
                </label>
                    <input type="radio" name="format" class="radio">HTML
                    <input type="radio" name="format" class="radio">Text
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>